<%= simple_form_for [@user, @listing] do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>There's just <%= pluralize(@listing.errors.count, "error") %> that prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.error_notification %>

  <%= f.input :title, placeholder: 'Title of your listing' %>

  <%= f.input :host, placeholder: 'Your name' %>

  <%= f.input :description, placeholder: 'Describe your listings' %>

  <%= f.input :location %>

  <%= f.input :price %>

  <%= f.input :listing_image, as: :file %>

  <%= f.button :submit %>
<% end %>
