<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Host:</strong>
  <%= @listing.host %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Images:</strong>
  <%= @listing.listing_image.url %>
</p>

<%= link_to 'Edit', [:edit, @user, @listing] %> |
<%= link_to 'Destroy', user_listing_path(@user,@listing), method: :delete, data: { confirm: 'Are you sure?' } %>

