<!DOCTYPE html>
<html>
<head>
  <title>Jocopa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Sign Up', new_user_path %></li>
      <li><%= link_to 'Log In', signin_path %></li>
      <li><%= link_to 'List Your Thing', new_listing_path %></li>
    </ul>
  </nav>

  <% flash.each do |key,value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
  <% end %>

<%= yield %>

<%= debug params if Rails.env.development? %> 
</body>
</html>
